{% extends "base_usr.html" %}

{%block title%}
Memo Kimdir?
{%endblock%}

{%block content%}
	<div style="position: relative; top: 15px;">
	<div align="center"><h2 style="background-color: #FF8C00; max-width: 25%"> Memo Kimdir? </h2></div>
	<div align="center">
	<div class="card w-50" style="background-color: #FF8C00">
	<div class="card-body">
	<b>• Memo her “Bugun ne yapsam?” diye düsündügünüzde size özel ve size en uygun önerilerde bulunan Türkiye’nin en kafa yapay zekasidir.
		<br><br>
		• En begenilen ve en yeni önerileri anasayfada ondan ögrenebilirsiniz.
		<br><br>
		• Ayrica hemen bir hesap acarak Memo’dan kisisellestirilmis önerilerinizi almaya baslayabilirsiniz.
		<br><br>
		• Bu arada arada bir Memo’nun kulagina kendi önerilerinizi fisildamayi unutmayin ki sizden duydugu yeni önerileri baskalariyla da paylasabilsin.</b>
	</div></div></div>
	</div>
{%endblock%}
