{% extends "base.html" %}
{% block title %} Kullanici sil {% endblock %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

<form action="#" method="POST">
	<div align="center">
		<p>Sadece adminler!!!</p><br>
		<input type="text" name="username" placeholder="Kullanici adi"/>
	</div><br>
	<div align="center">
		<input type="password" name="pass" placeholder="Admin parolasi" />
	</div><br>
	<div align="center">
		<p><input type="submit" name="submit"></p>
	</div>
</form>
{% endblock %}